@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./fonts.css";

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none !important;
  }

  :root {
    --background: #ffffff;
    --foreground: #171717;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  strong {
    font-family: "dana-bold";
    font-weight: normal;
  }

  body {
    direction: rtl;
    color: var(--foreground);
    background: var(--background);
    font-family: "yekan";
  }
}

.container {
  @apply max-w-[100%] px-3 mx-auto sm:max-w-[540px] md:max-w-[720px] lg:max-w-[960px] xl:max-w-[1140px] 2xl:max-w-[1320px];
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotating-element {
  animation: rotate 25s linear infinite;
}
